/* Css que faz a imagem dar zoom */

.full-screen-main-div {
  position: relative;
  overflow-y: auto;

  margin-top: 20px;
  margin-bottom: 20px;

  display: block !important;
  -webkit-overflow-scrolling: touch;

  &.zoomDiv {
    overflow-x: scroll;
    width: 100%;
    max-height: 500px;

    @media (max-width: 767.98px) {
      max-height: 400px;
    }

    @media (max-width: 575.98px) {
      max-height: 350px;
    }
  }

  img {
    &.openImgZoom {
      max-width: 1250px;
    }

    &.openImgZoomDesktop {
      max-width: 1550px;
    }
  }
}

.aviso-img-zoom {
  margin-bottom: 12px;
}

.internal-banner {
  padding: 0;

  .header-interno {
    padding: 80px 0;
    height: 350px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    .title-header-interno {
      height: 100%;
      margin: 0 auto;
      padding: 0 10px;

      @media (max-width: 991px) {
        display: flex;
        align-items: center;
        padding: 0 24px;
      }

      @media (min-width: 576px) {
        max-width: 540px !important;
      }

      @media (min-width: 768px) {
        max-width: 720px !important;
      }

      @media (min-width: 991px) {
        max-width: 991px !important;
      }

      @media (min-width: 1200px) {
        max-width: 1050px !important;
      }

      @media (min-width: 1260px) {
        max-width: 1130px !important;
      }

      @media (min-width: 1360px) {
        max-width: 1280px !important;
      }

      @media (min-width: 1660px) {
        max-width: 1408px !important;
      }

      h1 {
        position: absolute;
        font-weight: 500;
        color: var(--text-white);
        z-index: 2;
      }
    }

    @media (max-width: 991px) {
      height: 200px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 350px;
      width: 100%;
      background: linear-gradient(270deg,
          rgba(33, 33, 33, 0) 0%,
          rgba(33, 33, 33, 0.64) 76.42%);
      z-index: 1;

      @media (max-width: 991px) {
        height: 200px;
      }
    }

    img {
      height: 350px;
    }
  }
}

[data-anima] {
  opacity: 0;
  transform: translateY(40px);
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, transform;

  &.active {
    opacity: 1;
    transform: translateY(0px);
  }
}

.accordion-button[aria-expanded="true"] {
  p {
    transition: 0.3s;
    font-weight: 700 !important;
  }
}

.mailing-home {
  padding-top: 0;

  .row {
    padding-top: 80px;
    border-top: 1px solid var(--text-grey-scale-08);
  }
}

.button-mapa-site[aria-expanded="true"] {
  .icon-exibir {
    transition: 0.3s;
    transform: rotate(135deg);
  }
}

.logo-footer {
  img {
    width: 110px;
  }
}

.box-missao {
  padding: 30px 0;
  border-top: 1px solid var(--text-grey-scale-08);
  border-bottom: 1px solid var(--text-grey-scale-08);

  h2 {
    margin-bottom: 16px;
    padding-top: 0;
  }

  p {
    margin-bottom: 24px;
  }

  ul {
    padding: 0;
    margin-bottom: 0;

    li {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 8px;

      h3 {
        padding: 0;
        margin: 0;
      }

      p {
        margin: 0;
      }
    }
  }
}

.cards-numeros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--text-grey-scale-08);

  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 575px) {
    grid-template-columns: 1fr;
  }

  .item {
    .counter {
      font-size: 4rem;
      font-weight: 500;
      margin-bottom: 0;
      padding: 0;

      @media (max-width: 991px) {
        font-size: 4rem !important;
      }
    }

    span {
      font-size: 1rem;
      font-family: var(--font-matter);
      font-weight: 300;
    }
  }
}

.box-negocios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  .item {
    background-color: var(--pure-white);
    border: 1px solid var(--text-white);
    padding: 40px;
    border-radius: 4px;

    img {
      border-radius: 8px;
      width: 414px;
      height: 350px;
      object-fit: cover;
    }

    .flex-title {
      display: flex;
      gap: 16px;
      align-items: center;
      margin-bottom: 24px;

      h3 {
        padding: 0;
        margin: 0;
      }
    }

    ul {
      margin-bottom: 0;
    }
  }

  .flex-title {
    img {
      width: 56px;
      height: 56px;
      object-fit: cover;
    }
  }
}

.img-mapa {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 4px;
}

.align-ativos {
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--text-grey-scale-08);
}

.list-ativos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-bottom: 30px;

  @media (max-width: 992px) {
    margin-top: 18px;
  }

  @media (max-width: 575px) {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .item {
    h3 {
      padding: 0;
      margin-bottom: 8px;
      text-decoration: underline;
    }

    ul {
      padding: 0;

      li {
        font-family: var(--font-matter);
        font-weight: 300;
        color: var(--text-color);

        a {
          text-decoration: none;
        }
      }
    }
  }
}

.destaques {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--text-grey-scale-08);

  .box-destaques-2023 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
    }

    @media (max-width: 575px) {
      grid-template-columns: 1fr;
    }

    .item {
      .subitem {
        margin-bottom: 30px;

        .counter {
          font-size: 4rem;
          font-weight: 500;
          margin-bottom: 0;
          padding: 0;

          @media (max-width: 991px) {
            font-size: 4rem !important;
          }
        }

        span {
          font-size: 1rem;
          font-family: var(--font-matter);
          font-weight: 300;
        }
      }
    }
  }
}

.section-governanca {
  padding: 160px 0 30px 0;
  margin-top: 80px;
  border-bottom: 1px solid var(--text-grey-scale-08);
  border-top: 1px solid var(--text-grey-scale-08);

  .numbers-governanca {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    padding-bottom: 30px;
    // margin-bottom: 30px;
    // border-bottom: 1px solid var(--text-grey-scale-08);

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575px) {
      grid-template-columns: 1fr;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .counter {
        margin-bottom: 16px;
        font-size: 4rem;
        font-weight: 500;
        margin-bottom: 0;
        padding: 0;

        @media (max-width: 991px) {
          font-size: 4rem !important;
        }
      }

      span {
        font-size: 1rem;
        font-family: var(--font-matter);
        font-weight: 300;
      }
    }
  }
}

.timeline {
  padding-top: 80px;
  border-top: 1px solid var(--text-grey-scale-08);

  .timeline-item {
    display: flex;
    gap: 30px;
    align-items: center;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      margin-bottom: 74px;
    }

    .imagem {
      padding: 24px 0;

      @media (max-width: 1359px) {
        width: 485px;
        height: 300px;
        padding: 0;
        height: 100%;
      }

      @media (max-width: 1199px) {
        max-width: 350px;
      }

      @media (max-width: 991px) {
        min-width: 100%;
      }

      img {
        border-radius: 2px;
        max-width: 625px;
        object-fit: cover;

        @media (max-width: 1359px) {
          max-width: 485px;
          height: 100%;
        }

        @media (max-width: 1199px) {
          max-width: 350px;
        }

        @media (max-width: 991px) {
          min-width: 100%;
          height: 180px;
        }
      }
    }

    .title-mobile {
      font-family: var(--font-concrette);
      font-size: 2.5rem !important;
      font-weight: 100;
      margin: 0;

      @media (min-width: 992px) {
        display: none;
      }
    }

    .ano-timeline {
      min-width: 232px;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;

      @media (max-width: 991px) {
        display: none;
      }

      @media (max-width: 1359px) {
        min-width: 150px;
      }

      &:before {
        content: "";
        width: 1px;
        height: 150px;
        background-color: var(--text-grey-scale-08);
      }

      &:after {
        content: "";
        width: 1px;
        height: 150px;
        background-color: var(--text-grey-scale-08);
      }

      h2 {
        font-family: var(--font-concrette);
        font-size: 2.5rem;
        font-weight: 100;
        margin: 0;
      }
    }
  }
}

.nav {
  justify-content: center;
  margin-bottom: 32px !important;
  gap: 16px;

  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-item {
    margin: 0;

    @media (max-width: 575px) {
      width: 100%;
    }

    button,
    a {
      border-bottom: 0 !important;
      padding: 8px 16px !important;
      border-radius: 69px;
      font-family: var(--font-matter);
      font-weight: 300;
      color: var(--grey-scale-05);
      background-color: var(--text-white);
      border: 1px solid var(--text-grey-scale-03) !important;

      @media (max-width: 575px) {
        width: 100%;
      }

      &.active {
        background-color: var(--bg-dark);
        border: 1px solid var(--bg-dark) !important;
        color: var(--text-white) !important;
        font-weight: 400;
      }

      &:hover {
        border: 1px solid var(--bg-dark) !important;
        color: var(--grey-scale-08);
      }
    }
  }
}

.box-estrategias {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  .item {
    padding: 32px;
    border-radius: 4px;
    background-color: var(--pure-white);
    border: 1px solid var(--text-white);

    .content {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: space-between;

      .img-legenda {
        width: 100%;

        .small-text {
          margin-top: 10px;
        }

        img {
          min-width: 338px;
          height: 300px;
          object-fit: cover;
          width: 338px;

          @media (max-width: 1359px) {
            width: 100%;
          }

          @media (max-width: 991px) {
            width: 312px;
          }

          @media (max-width: 767px) {
            height: 180px;
            width: 100%;
          }
        }
      }

      @media (max-width: 1359px) {
        flex-direction: column;
      }

      @media (max-width: 991px) {
        flex-direction: row;
      }

      @media (max-width: 767px) {
        flex-direction: column;
      }

      ul {
        padding: 0;

        li {
          font-family: var(--font-matter);
          font-weight: 200;
          list-style: disc;
        }
      }
    }
  }
}

.item-portfolio-grande {
  .numbers {
    margin-bottom: 30px;
  }
}

.titulo-descricao {
  margin-top: 26px;

  .titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--text-grey-scale-08);

    h2 {
      margin: 0;
    }
  }

  .numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }

    .item {
      span {
        font-family: var(--font-matter);
        font-size: 0.88rem;
        font-weight: 200;
      }

      h4 {
        font-weight: 500;
        padding: 0;
        margin: 0;
      }
    }
  }

  a {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    font-size: 0.88rem;
    color: var(--text-grey-scale-05);

    img {
      background-color: #f7f7f7;
      padding: 2px;
      border-radius: 2px;
    }
  }
}

.box-portfolio-interno {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 104px;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  .card-portfolio {
    padding-bottom: 74px;

    .thumb-portfolio {
      width: 756px;
      height: 300px;
      object-fit: cover;
      border-radius: 2px;

      @media (max-width: 575px) {
        height: 200px;
      }
    }

    a {
      margin-top: 30px;
      width: max-content;
    }
  }
}

.box-videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  .title-video {
    padding: 24px 40px;

    h2 {
      padding: 0;
      margin: 0;
    }
  }

  iframe {
    width: 100%;
    height: 251px;
    border-radius: 2px;
  }
}

.tabs-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @media (max-width: 991px) {
    flex-direction: column;
  }

  .nav {
    margin: 0 0 24px 0;
  }
}

.flex-filter {
  display: flex;
  justify-content: center;
  margin: 0 0 24px 0;
  gap: 16px;

  @media (max-width: 575px) {
    flex-direction: column;
    width: 100%;
  }

  .filter {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 5px 8px 20px;
    background-color: var(--text-white);
    border: 1px solid var(--text-grey-scale-03);
    border-radius: 50px;

    @media (max-width: 575px) {
      width: 100%;
    }

    label {
      width: 200px;
      width: max-content;
      font-family: var(--font-matter);
      color: var(--pure-black);
      font-weight: 200;
    }

    .form-select {
      width: max-content;
      border: 0;
      font-family: var(--font-matter);
      padding-right: 35px;
      padding-left: 0;
      width: 80px;
      background-color: transparent;
      color: var(--pure-black);
    }
  }
}

.pagina-day {
  h2 {
    margin-bottom: 16px;
  }

  .row {
    margin-top: 24px;
    align-items: center;

    iframe {
      width: 100%;
      height: 445px;
      border-radius: 2px;

      @media (max-width: 991px) {
        height: 445px;
      }

      @media (max-width: 757px) {
        height: 151px;
      }
    }
  }

  .lista {
    a {
      text-decoration: none;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--text-grey-scale-04);
      transition: 0.3s ease;

      span {
        font-weight: 300;
      }

      &:hover {
        border-bottom: 1px solid var(--text-grey-scale-08);
        transition: 0.3s ease;

        span {
          font-weight: 400;
        }
      }
    }
  }
}

.diretoria-border {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--text-grey-scale-08);
}

.nav-draggable {
  @media (max-width: 991px) {
    overflow-x: scroll;
    margin-bottom: 10px;
    padding-bottom: 14px;
  }

  .nav-glossario {
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;

    @media (max-width: 991px) {
      margin-bottom: 0 !important;
    }

    .nav-item {
      button {
        border-radius: 2px;
        padding: 2px 8px !important;
        font-weight: 400;

        &.disabled {
          opacity: 0.3;
        }
      }
    }
  }
}

.tabs-glossario {
  p {
    span {
      font-weight: 400;
      display: block;
    }
  }
}

.section-contato {
  &:before {
    content: "";
    width: 80%;
    height: 1px;
    background-color: var(--bg-dark);
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 80px;

    @media (max-width: 991px) {
      width: 90%;
    }
  }

  h3 {
    padding: 0;
  }

  .box-contato {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 24px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }

    p {
      span {
        font-weight: 400;
        display: block;
      }
    }
  }
}

.grafico-endividamento {
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;

  @media (max-width: 991px) {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .chart-container {
      min-width: 1200px;
      height: 500px;
      display: inline-block;
    }
  }
}

.cotacao {
  display: flex;
  align-items: center;


  .item-cotacao {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      &::after {
        content: "";
        width: 1px;
        height: 14px;
        background: var(--border-default, #1A1A1A);
        display: flex;
        position: relative;
        margin: 0 16px;
      }
    }

    p {
     margin:0;
      margin-right:10px;
      color: var(--topbar-content-info, #1A1A1A);
      /* Body/Sm/Regular */
      font-family: var(--font-family-body, Matter);
      font-size: var(--font-size-small, 12px);
      font-style: normal;
      font-weight: 300;
      line-height: var(--font-line-height-small, 18px);
      /* 150% */
      
    }

    span {
      color: var(--font-text-small, #666);
      /* Body/Sm/Regular */
      font-family: var(--font-family-body, Matter);
      font-size: var(--font-size-small, 12px);
      font-style: normal;
      font-weight: 300;
      line-height: var(--font-line-height-small, 18px);
      /* 150% */

    }
  }
}