.header {
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.2);
  // padding: 16px 0px;

  &.fixed {
    background-color: var(--menu-container-bg-scroll, #095534);
  }
}

.iframe-cotacao {
  height: 26px;

  @media (max-width: 991px) {
    order: 3;
    flex: 100%;
    margin-top: 20px;
  }

  iframe {
    width: 400px;
    height: 26px;

    @media (max-width: 991px) {
      width: 390px;
    }

    @media (max-width: 400px) {
      width: 250px;
    }
  }
}

.toggle-mobile-menu {
  border: none;
  position: relative;
  margin-left: 8px;
  padding: 0;
  background-color: transparent;
  display: none !important;

  @media (max-width: 991px) {
    display: flex !important;
  }

  span {
    height: 2px;
    width: 21px;
    display: block;
    background-color: var(--text-black);
    transition: 0.5s ease;
    position: relative;

    &::after,
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 21px;
      border-radius: 2px;
      display: block;
      position: absolute;
      // background: var(--text-white);
      background-color: var(--text-black);
      transition: 0.5s ease;
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }
}

.headerFixoMenu {
  transition: 0.7s;
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;

  header {
    padding: 24px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-body);

    .content {
      @media (max-width: 991px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }

      .logo {
        @media (max-width: 991px) {
          width: 147px;
        }
      }
    }

    @media (max-width: 991px) {
      padding: 16px 0;
    }

    .logo {
      display: flex;
      justify-content: center;

      a {
        img {
          width: 212px;
          height: 48px;
        }
      }

      .logo-white {
        display: none;
      }
    }

    .content-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 80px;

      @media (max-width: 991px) {
        display: none;
      }

      .nav-menu-header {
        ul {
          &:not(.dropdown-menu) {
            padding: 16px 0 0 0;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            gap: 32px;
          }

          .dropdown {
            margin: 0;
            padding-bottom: 24px;

            .dropdown-toggle {
              text-decoration: none;

              &:after {
                content: "" !important;
                color: var(--text-grey-scale-07) !important;
                border: unset !important;
                display: block;
                width: 0;
                height: 1px;
                transition: width 0.4s;
                background-color: var(--text-grey-scale-07);
                position: absolute;
                margin-left: 0;
              }

              &:hover {
                &::after {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .open-searchbox {
        border: none;
        border-radius: 50px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--text-black);

        .icon-busca {
          &:before {
            color: var(--pure-white);
          }
        }

        @media (max-width: 991px) {
          display: none;
        }
      }
    }
  }
}

.topbar {
  background-color: var(--bg-topbar);
  padding: 8px 0;

  @media (max-width: 991px) {
    display: none;
  }

  .itens {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links-topo {
      display: flex;
      gap: 12px;
      align-items: flex-start;

      span {
        font-family: var(--font-matter);
        font-size: 0.75rem;
        font-weight: 200;
      }

      a {
        text-decoration: none;
        font-size: 0.75rem;
      }

      .link-inst {
        display: flex;
        align-items: center;
        gap: 6px;

        span {
          color: var(--text-grey-scale-07);
        }

        img {
          width: 12px;
          height: 12px;
        }
      }
    }

    .cotacoes {
      height: 27px;
      flex: 1;

      iframe {
        height: 27px;
        width: 100%;
      }
    }

    .acessibillity-bar {
      display: flex;
      align-items: center;
      gap: 40px;

      .accessibility-tools {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
      }

      .idioma-itens {
        display: flex;
        gap: 6px;
        align-items: center;

        a {
          display: flex;
          gap: 6px;
          align-items: center;

          &:first-of-type {
            &:after {
              content:"";
              height: 10px;
              width: 1px;
              display: block;
              background-color: var(--text-color);
            }
          }
        }
      }

      a {
        font-size: 0.75rem;
        text-decoration: none;
      }

      button {
        border: 0;
        background: none;
        padding: 0;
        height: 18px;
        display: flex;
  align-items: center;

        span {
          &:before {
            color: var(--text-grey-scale-07);
            filter: none;
          }
        }
      }
    }
  }
}

.menu-bar {
  position: sticky !important;
  border-bottom: 1px solid var(--text-grey-scale-04);

  .header {
     background-color: var(--pure-white);
  }
}

@media (max-width: 570px) {
  .logo-white {
    width: 165px !important;
  }

  .logo-colorida {
    width: 165px !important;
  }
}

.dropdown {
  .hover-active {
    &:after {
      width: 100% !important;
    }
  }
}

.dropdown-submenu {
  .active-item {
    border-radius: 4px;
    background: var(--menu-page-bg-hover, #095534);
    color: #fff !important;

    &:after {
      filter: invert(1) !important;
    }
  }
}

.div-menu-open {
  display: flex;
  align-items: center;

  .toggle-mobile-menu {
    img {
      filter: brightness(0);
      width: 32px;
  height: 32px;
    }
  }
}
