html {
  scroll-behavior: smooth;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
  font-family: var(--font-text-1), sans-serif, Arial, Helvetica;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  &.trava-scroll {
    overflow-y: hidden;
  }
}

#Form1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

ul {
  margin-bottom: 24px;

  li {
    list-style-type: none;
  }

  &.list-ponto {
    padding-left: 20px;
    margin-top: 24px;

    li {
      list-style-type: disc;
      font-family: var(--font-matter);
      font-weight: 300;
      color: var( --text-grey-scale-05);

      &::marker {
        color: var(--text-grey-scale-08);
      }

      &:not(:last-of-type) {
        margin-bottom: 16px;
      }

       &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &.list-numeros {
    padding-left: 20px;

    li {
      list-style-type: decimal;
      margin-bottom: 24px;
    }
  }
}

section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 767px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
  display: block;
}

.container {
  @media (min-width: 992px) {
    max-width: 991px;
  }
  @media (min-width: 1200px) {
    max-width: 1050px;
  }

  @media (max-width: 575px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container-responsivo-full {
  @media (min-width: 1260px) {
    max-width: 1130px !important;
  }

  @media (min-width: 1360px) {
    max-width: 1280px !important;
  }

  @media (min-width: 1660px) {
    max-width: 1408px !important;
  }
}

.container-banner {
  @media(max-width: 991px) {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

.container-responsivo-full-image {
  margin: 0 auto;

  @media (min-width: 1660px) {
    max-width: 1120px !important;
  }

  img {
    width: 100%;
  }
}

.container-responsivo-full-content {

  @media (max-width: 575px) {
   padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 991px) {
    max-width: 824px !important;
  }

  @media (min-width: 1200px) {
    max-width: 824px !important;
  }
  @media (min-width: 1660px) {
    max-width: 1032px !important;
  }
}

.container-responsivo-banner {
  width: 93%;
  margin: 0 auto;

  @media (max-width: 991px) {
    width: 100%;
  }
}

.container-big {
  @media (min-width: 1200px) {
    .container {
      max-width: 1230px;
    }
  }
}

#mainInternal {
  section {
    padding: 48px 0;

    &:last-child {
      padding-bottom: 32px;
    }
  }

  a {
    font-weight: 500;
    // color: var(--system-link);
    font-size: rem(14);
  }
}